includes:
  - phpstan-baseline.neon
  - packages/tester-bundle/extension.neon

parameters:
  treatPhpDocTypesAsCertain: false
  level: 5
  paths:
    - app
    - packages
    - tests
  excludePaths:
  	- packages/fixer/Tests/fixtures/*
  ignoreErrors:
      - '#Call to an undefined method Symfony\\Component\\HttpFoundation\\Session\\SessionInterface::getFlashBag\(\).#'
      # The newrelic_* functions are provided by the New Relic PHP extension, which is not installed in CI.
      - '#Function newrelic_[a-z_]+ not found.#'
      #- '#provideTestArgument\(\) return type has no value type specified in iterable type (iterable|array).#'
      #- '#provideTestOption\(\) return type has no value type specified in iterable type (iterable|array).#'
      #- '#getHandledMessages\(\) return type has no value type specified in iterable type (iterable|array).#'
      #- '#Test::getDefaultConfiguration\(\) return type has no value type specified in iterable type array.#'
      #- '#Test::getConfiguration\(\) return type has no value type specified in iterable type array.#'
      #- '#Test::provide[a-zA-Z0-9]*\(\) return type has no value type specified in iterable type (iterable|array).#'
      #- '#Method [a-zA-Z0-9\\]*::getForEmails\(\) return type has no value type specified in iterable type (iterable|array).#'
